*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #222;
    padding: 20px;
}
.container-buttons{
    padding: 15px;
    display: flex;
    gap: 15px;
}
.button{
    border: 2px solid transparent;
    border-radius:15px ;
    padding: 15px;
}
.button:hover{
    cursor: pointer;
    transition: 0.4s;
    border-color: red;
}
.image{
    height: 50px;
    width: 50px;
}

